defaults:
  - conf_siren@_global_: config_siren
  - _self_

data:
  data_source: ./data/
  sdf_token_dir: ./data/sdf_tokens
  indices:
    start: 0
    end: 100
  val_indices:
    start: 101
    end: 110
  num_instances: 100
  subsample: 4096
  batch_size: 64
  val_batch_size: 64
  max_num_links: 5
  load_ram: false
  shuffle: true
  num_workers: 16
  drop_last: true

models:
  sdf_latent_dim: &sld 128
  hidden_dims: &hd 256
  transformer:
    input_dim: *sld  # was 128
    model_dim: *hd  # was 128
    output_dim: *sld  # was 128
    num_heads: 8  # was 4
    num_layers: 6  # was 4
    mlp_ratio: 4.0
    dropout: 0.1
    attn_dropout: 0.0
    activation: gelu
    use_positional_encoding: true
    max_length: 16
    norm_first: true
    final_layer_norm: true
  joint_value_decoder:
    input_dim: *sld
    hidden_dims: [*hd, *sld]
    activation: gelu
    dropout: 0.0
    use_layer_norm: false

flow_matching:
  noise_std: 1.0
  time_embed_dim: 128
  time_mlp_hidden: 256

training:
  device: cuda
  dtype: float32
  lr: 1e-4
  num_epochs: 1e6
  validation_interval: 500
  corrupt_prob: 0.15
  supervise_only_corrupted: true
  q_min: -2.09439510239
  q_max: 2.09439510239
  wandb:
    enabled: true
    project: action_repr
    run_name: ik-transformer_fm_
    save_interval: 50
    save_dir: ./checkpoints
  lr_schedules: []
  pretrained_ckpt: null
  freeze_pretrained: false
